@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.container {
  padding-top: 1rem;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 9fr; /* CONTAINERIN ALTINDAKİ ELEMANLARI BÖLMEYE 
  YARAR, 1E9 ORANI BİZİM SEÇTİĞİMİZ, 2YE 30 DA VEREBİLİRİZ.*/
  color: white;
  gap: 3px;
  background-color: #d4a373;
  letter-spacing: 2px;
}

.add-task {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.add-task input {
  padding: 10px;
  border: none;
  border-radius: 9px;
}

.add-task button {
  margin-left: 20px;
  padding: 10px;
  width: 15%;
  height: 10%;
  border-radius: 9px;
  border: 1px solid #ccc;
  background-color: #b68d64;
  border: none;
  color: #fff;
  cursor: pointer;
}

.add-task button:hover {
  background-color: #9c6644;
}
.to-do-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.to-do {
  background-color: #bcb8b1;
}

.in-progress {
  background-color: #9c6644;
}

.done {
  background-color: #38b000;
}

.block {
  background-color: #d00000;
}

.to-do-title {
  text-align: center;
  border-bottom: 3px solid #d4a373;
  font-size: 30px;
}
.cards {
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card {
  padding: 10px;
  margin-top: 8px;
  margin-right: 4px;
  display: flex;
  border-bottom: 1px solid wheat;
}

p {
  margin-left: 10px;
}
