@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    
}

.to-do{
    background-color: rgb(165, 163, 160);
}

.in-progress{
    background-color: rgb(197, 125, 16);
}

.done{
    background-color: green;
}

.block{
    background-color: red;
}

.to-do-title{
    text-align: center;
    border-bottom:  2px solid rgb(182, 179, 179); 
    font-size: 30px;
}
.to-do-cards{
    margin-left: 5px;
}

.to-do-card{
    border: 1px solid black;
}